<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:view contentType="text/html">
	<h:head>
		<title>MV - Decoração e Assessoria</title>
		<link rel="icon" type="image/ico"
			href="#{resource['images:favicon.png']}" />
		
		<link rel="stylesheet" href="#{resource['css:bootstrap.min.css']}" />
		<link rel="stylesheet" href="#{resource['css:bootstrap-theme.min.css']}" />

		<ui:insert name="script-header" ></ui:insert>
		<ui:insert name="css-header" ></ui:insert>
	</h:head>
	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
		<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
	<h:outputScript name="jquery.maskMoney.js" library="js" target="head" />
	<h:body>
		
		<ui:insert name="body" />


	</h:body>
</f:view>
</html>