<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/blank.xhtml">
	<ui:define name="css-header">
		<h:outputStylesheet name="site.css" library="css" />
		<ui:insert name="header" />
	</ui:define>
	<ui:define name="body">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse"
						data-target=".navbar-collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span><span
							class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
<!-- 					<a href="/mvd/spring/home" class="navbar-brand">Início</a> -->
					
				</div>
				<h:form id="form-menu" >
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><p:commandLink action="home">
								<h:outputText value="Início" />
							</p:commandLink></li>
						<li><p:commandLink action="quem-somos">
								<h:outputText value="Quem somos" />
							</p:commandLink></li>
						<li><p:commandLink action="fotos">
								<h:outputText value="Fotos" />
							</p:commandLink></li>
						<li><p:commandLink action="contato">
								<h:outputText value="Contato" />
							</p:commandLink></li>
						<sec:authorize ifAnyGranted="ROLE_MANAGER_USER">
							<li><p:commandLink action="seguranca">
									<h:outputText value="Segurança" />
								</p:commandLink></li>
						</sec:authorize>
					</ul>
					<div class="user">
						<sec:authorize ifAnyGranted="ROLE_USER">
							<h:outputLink id="user">
								<h:outputText value="#{request.remoteUser}" />
								<i class="fa fa-user fa-1x" />
							</h:outputLink>
							<p:overlayPanel for="user" showEvent="mouseover">
								<h:outputLink value="/mvd/logout">
									<h:outputText value="Sair" />
									<i class="fa fa-sign-out fa-1x" />
								</h:outputLink>
							</p:overlayPanel>
						</sec:authorize>
					</div>
				</div>
				</h:form>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">
				<ui:insert name="site" />
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<h:panelGrid columns="3" style="width: 100%;" >
					<h:panelGrid columns="1" >
						<h:outputText value="Casamentos" />
						<h:outputText value="Aniversários" />
						<h:outputText value="Reuniões" />
						<h:outputText value="Formaturas" />
					</h:panelGrid>
					
					<h:outputText value="facebook" ></h:outputText>
					<h:outputText value="Desenvolvido por Eduardo Sutil" ></h:outputText>
				</h:panelGrid>
			
				
			</div>
		</div>

		
	</ui:define>
</ui:composition>