<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/blank.xhtml">
	<ui:define name="body">
		<div id="menu">
			<h:form id="formMenu">
				<div id="header">
					<div class="clearfix">
						<div class="logo">
							<p:graphicImage library="images" name="favicon.png" width="50" height="50" />
							<span style="color: #fff; font-size: 30px;" > <h:outputText value="#{titulo}" style="color=#FFF;" ></h:outputText></span>
						</div>
						
						<div class="user" >
							<h:outputLink id="user" >
								<h:outputText value="" />
								<i class="fa fa-user fa-1x" />
							</h:outputLink>
							<p:overlayPanel for="user" showEvent="mouseover" styleClass="labelSair" >
								<h:outputLink value="/mvd/logout"  >
									<h:outputText value="Sair" />
									<i class="fa fa-sign-out fa-1x" />
								</h:outputLink>
							</p:overlayPanel>
						</div>
						
						<ul class="navigation">
							<li><h:commandLink action="home"><h:outputText value="Home" /> </h:commandLink> </li>
							<li><h:commandLink action="seguranca"><h:outputText value="Segurança" /> </h:commandLink> </li>
						</ul>
						
						

					</div>
					
					
				</div>
			</h:form>
			
		</div>
		<div id="main" class="admin">
			<ui:insert name="content" />
		</div>
	</ui:define>
</ui:composition>