<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/blank.xhtml">
	<ui:define name="css-header">
		<h:outputStylesheet name="site.css" library="css" />
		<ui:insert name="css-library" ></ui:insert>
	</ui:define>
	<ui:define name="body">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse"
						data-target=".navbar-collapse" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span><span
							class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
					<a href="/mvd/spring/home" class="navbar-brand">MVD</a>
					
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						
					</ul>
					<div class="user">
						<sec:authorize ifAnyGranted="ROLE_USER">
							<h:outputLink id="user">
								<h:outputText value="#{request.remoteUser}" />
								<i class="fa fa-user fa-1x" />
							</h:outputLink>
							<p:overlayPanel for="user" showEvent="mouseover">
								<h:outputLink value="/mvd/logout">
									<h:outputText value="Sair" />
									<i class="fa fa-sign-out fa-1x" />
								</h:outputLink>
							</p:overlayPanel>
						</sec:authorize>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron">
				<ui:insert name="site" />
			</div>
		</div>
		<div id="footer">
			<div class="container">
			</div>
		</div>

		
	</ui:define>
</ui:composition>