.conteudo {
	width: 90%;
	height: 500px;
	margin: auto;
	padding: 15px;
}

.conteudo .quadro {
	width: 50%;
	border-left: #000;
	border-style: none;
	float: left;
}

.mapa {
	padding: 10px;
}

.informacoes {
	padding: 30px;
	font-size: 20px;
	font-weight: bold;
}

