.painel-albuns {
	width: 100%;
}

.capa-album {
	width: 200px;
	height: 280px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: 100%;
	box-shadow: 1px 1px 3px #555;
	color: #fff;
	text-shadow: 2px 2px 3px #555;
	font-size: 20px;
	font-weight: bold;
}

.capa-album:hover {
	opacity: 0.6;
	box-shadow: 5px 5px 15px #555;
	text-decoration: none;
}

a:hover{
	text-decoration: none !important;
}