@import url(http://fonts.googleapis.com/css?family=Marck+Script|Lobster|Dancing+Script|Playball|Pinyon+Script|Berkshire+Swash);

.endereco {
	font-family: 'Marck Script', cursive;
	font-size: 30px;
}


.panel-menu {
	width: 100%;
}

.panel-menu>tbody>tr>td {
	width: 25%;
	padding: 10px;
}

.cabecalho {
	width: 100%;
}

.cabecalho>tbody>tr>td:nth-child(1){
	width: 60%;
}

.cabecalho>tbody>tr>td:nth-child(2){
	width: 40%;
}

.cabecalho>tbody>tr>td {
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 3px #555;
}

.bt-grande {
	width: 98%;
	height: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 1.0;
	color: #fff;
	border-radius: 0px;
}

.bt-grande.fotos{
	background-image: url('images/capa-fotos.jpg');
}

.bt-grande.quem-somos{
	background-image: url('images/capa-quem-somos.jpg');
}

.bt-grande.contato{
	background-image: url('images/capa-contatos.jpg');
}

.bt-grande.assessoria{
	background-image: url('images/capa-assessoria.jpg');
}


.bt-grande .ui-panel-content.ui-widget-content {
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 2px 2px 3px #555;
}

.bt-grande:hover {
	opacity: 0.6;
	box-shadow: 5px 5px 15px #555;
}