@import url(http://fonts.googleapis.com/css?family=Marck+Script|Lobster|Dancing+Script|Playball|Pinyon+Script|Berkshire+Swash);

html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0px 0 !important;
	background-color: #ddd;
	/*background-image: url("images/fundo.png");*/
	/*background-size: 100%;*/
}
	
.jumbotron {
	background: rgba(255, 255, 255, 0.9) !important;
}

#footer {
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #333;
	color: #ddd;
}

#footer .container {
	padding: 20px 10px 20px 10px;
}

#footer .container .text-muted {
	margin: 20px 0;
}

#footer .container > table > tbody > tr > td {
	width: 33%;
	padding-left: 80px;
}

.ui-state-error {
	color: #333 !important;
}

.rotulo {
	font-weight: bold;
}

.user a {
	float: right;
	padding: 15px;
	color: #fff;
	font-weight: bold;
}

.user .ui-overlaypanel {
	background-color: #99f;
}

.red {
	background-color: #ffd5d5;
}

.blue {
	background-color: #4280ca;
	color: white;
}