<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">

	<ui:define name="site">
		<h:form id="formEdit" enctype="multipart/form-data" prependId="false"   >
			<h:panelGrid columns="6" >
				<h:outputText value="Tarefa:" styleClass="rotulo" />
				<h:outputText value="#{bean.descricao}" style="padding-right: 10px; display: block;"  />
				
				<h:outputText value="Dias semana:" styleClass="rotulo" />
				<h:outputText value="#{bean.diaSemana}" style="padding-right: 10px; display: block;" />
				
				<h:outputText value="Horário:" styleClass="rotulo" />
				<h:outputText value="#{bean.hora}h#{bean.minuto}min" style="padding-right: 10px; display: block;" />
				
			</h:panelGrid>
			<p:dataTable emptyMessage="Não há arquivos no servidor" value="#{arquivos}"  var="arq" 
						 selection="#{bean.arquivoSelecionado}" selectionMode="single" rowKey="#{arq.nome}" >
				<p:ajax event="rowSelect"  update="@form" />
				<p:column selectionMode="single" ></p:column>
				<p:column headerText="Nome do arquivo"  >
					#{arq.nome}
				</p:column>
			</p:dataTable>
			
			<h:panelGrid columns="2" >
				<p:commandButton value="Cancelar" action="cancelar" immediate="true" styleClass="btn btn-warning" onclick="dgEdit.hide();" />
				<p:commandButton value="Salvar" action="ok" styleClass="btn btn-primary" oncomplete="dgEdit.hide();" />
			</h:panelGrid>
			
		</h:form>
	</ui:define>
</ui:composition>

