<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/siteTemplate.xhtml">
	
	

	
	<ui:define name="site">
		<h:form id="form">
			<p:commandButton value="Novo Perfil" action="novoPerfil" />
			<p:commandButton value="Voltar" action="voltar" />
			<p:dataTable emptyMessage="Nenhum perfil encontrado" value="#{perfis}" var="p" >
				<p:column headerText="Nome do perfil">#{p.nome}</p:column>
				<p:column headerText="Quantidade de permissões">#{p.permissoes.size()}</p:column>
				<p:column headerText="Opções">
					<p:commandButton icon="ui-icon-pencil" value="Editar" action="editar"  />
					<p:commandButton icon="ui-icon-trash" value="Excluir" action="deletar" update="@form" />
				</p:column>
			</p:dataTable>
		</h:form>
		
	</ui:define>
</ui:composition>

