<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/uploadfileTemplate.xhtml">
	
	<ui:define name="css-library">
		<h:outputStylesheet name="site.css" library="css" />
	</ui:define>
	
	<ui:define name="script-header">
		<script type="text/javascript" >
			function handleButtonUpload (event) {
				var valor = event.value;
				if(valor == '')
					$('#formEdit\\:upload').css("visibility", "hidden");
				
				else 
					$('#formEdit\\:upload').css("visibility", "visible");
				
			}
		</script>
	</ui:define>

	<ui:define name="site">
		<h:form id="formlist">
			<p:commandButton value="novo" oncomplete="dgEdit.show()" 
					actionListener="#{albumController.novo()}" />
			<p:dataTable value="#{albumController.albuns}" var="album" >
				<p:column headerText="Nome" >#{album.name}</p:column>
			</p:dataTable>
			
		</h:form>
		
		
		<p:dialog widgetVar="dgEdit" modal="true" width="700"  height="500" >
			<h:form id="formEdit" >
				<h:outputText value="Nome do album: " ></h:outputText>
				<p:inputText id="nome-album" value="#{albumView.album.name}" onkeyup="handleButtonUpload(this);" />
				
				<p:fileUpload id="upload" style="visibility: hidden;" fileUploadListener="#{albumController.handleCapaUpload}" 
						multiple="false"	
						uploadLabel="Enviar Capa" 
						cancelLabel="Cancelar"
						label="Escolher arquivos" 
						allowTypes="/(\.|\/)(jpg|jpeg|png)$/"
						></p:fileUpload>
						
				<h:panelGrid columns="3" >
					
					<ui:repeat var="imagem" value="#{albumView.album.imagens}" >
						<p:graphicImage name="#{imagem.url}" width="100" />
					</ui:repeat>
				</h:panelGrid>
				
				
							
			</h:form>
		
		
		</p:dialog>
		
	</ui:define>
	

	
	
</ui:composition>

