<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/uploadfileTemplate.xhtml">

	<ui:define name="site">
		<h:form id="formEdit">
			<p:messages autoUpdate="true" showSummary="true" showDetail="true" />
			<p:fileUpload fileUploadListener="#{arquivoController.handleFileUpload}" 
						multiple="true"	
						uploadLabel="Enviar" 
						cancelLabel="Cancelar"
						label="Escolher arquivos" 
						allowTypes="/(\.|\/)(jpg|jpeg|png)$/" ></p:fileUpload>

		</h:form>
		
		
		<h:form id="formFotosAlbum" >
			
		</h:form>
	</ui:define>
</ui:composition>

