<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">
	<ui:define name="header">
		<h:outputStylesheet name="contato.css" library="css" />
		<script src="http://maps.google.com/maps/api/js?sensor=true|false" type="text/javascript" ></script>
		
	</ui:define>
	<ui:define name="site">
	
		<div class="conteudo" >
				<div class="titulo" >
					<span style="text-shadow: 2px 2px #777;"><h1>Contato</h1></span>
				</div>
				
				<div style="clear: both;" ></div>
				
				<div class="quadro mapa" >
					<p:gmap center="-23.421196,-51.948555" zoom="16"  
					type="map" style="width:100%;height:300px" model="#{local}" />
					
				</div>
				
				<div class="quadro informacoes">
					<h:panelGrid columns="1">
						<h:outputText value="Avenida Brasil, 4714 - Maringá - PR" />
						<h:outputText value="Telefone: (44) 9103-4209" />
						<h:outputText value="" />
						<h:outputText value="Ligue e peça um orçamento!" />
					</h:panelGrid>
					
				</div>
		</div>
	</ui:define>
</ui:composition>

