<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">

	<ui:define name="site">
		
		<h1>Aqui vai aparecer o histórico da tarefa #{tarefa.descricao}</h1>
		

	</ui:define>
</ui:composition>

