<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">
	<ui:define name="header">
		<h:outputStylesheet name="quem-somos.css" library="css" />
	</ui:define>
	<ui:define name="site">
	
		<div class="conteudo" >
			
			<h:outputText id="titulo" value="#{titulo}"  />
			<div style="clear: both; height: 30px;" />
			<h:outputText id="texto" value="#{texto}" />
		</div>
	</ui:define>
</ui:composition>

