<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="loginTemplate.xhtml">

	<ui:define name="login">
		<h:form id="formlogin" prependId="false">

			<h:panelGrid columns="1">
				<h:outputText value="Acesso negado" styleClass="systemTitulo">
				</h:outputText>

				<p:spacer height="10" />

				<h:outputText
					value="Vecê não possui acesso a este módulo do sistema. Escolha uma opção:" />
			</h:panelGrid>
			<div id="dashboard">
				<div id="favorites">
					<ul>

						<li><h:outputLink value="/mvd/logout">
								<i class="icon-3x icon-user" />
								<h:outputText value="Trocar usuário" />
							</h:outputLink></li>
						<li><h:outputLink value="/mvd/spring/home">
								<i class="icon-3x icon-home" />
								<h:outputText value="Ir para a menu Principal" />
							</h:outputLink></li>
					</ul>
				</div>
			</div>



		</h:form>
	</ui:define>
</ui:composition>