<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">
	<ui:define name="header">
		<h:outputStylesheet name="home.css" library="css" />
	</ui:define>
	<ui:define name="site">
		<h:form id="form">
			<h:panelGrid columns="1" styleClass="cabecalho">
				<p:graphicImage library="images" width="100%" style="padding: 30px;"
					name="logo-capa.png" />
				
			</h:panelGrid>
			
		
			<h:panelGrid styleClass="panel-menu" columns="4"  >
				<p:panel styleClass="bt-grande quem-somos">
					Quem somos
				</p:panel>
				<p:panel styleClass="bt-grande fotos">
					Fotos
				</p:panel>
				<p:panel styleClass="bt-grande assessoria">
					Assessoria
				</p:panel>
				<p:panel styleClass="bt-grande contato">
					Contato
				</p:panel>


			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>

