<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">
	<ui:define name="header">
		<h:outputStylesheet name="fotos.css" library="css" />
	</ui:define>

	<ui:define name="site">

		<span style="text-shadow: 2px 2px #777;"><h1>Fotos</h1></span>

		<h:form id="principal">

			<p:dataGrid styleClass="painel-albuns" columns="4" value="#{albuns}"
				var="album" emptyMessage="Em breve teremos novas fotos!">
				<p:commandLink oncomplete="dgAlbum.show();" action="mostrarFotos"
					update=":album-detalhes">
					<div class="capa-album"
						style="background-image: url(#{resource[album.capa]})">
						<h:outputText value="Nome do album"></h:outputText>
					</div>
				</p:commandLink>
			</p:dataGrid>

		</h:form>

		<p:dialog widgetVar="dgAlbum" modal="true" width="800" >
			<h:form id="album-detalhes">
				
				<p:imageSwitch effect="fade" id="fadeEffect" slideshowAuto="false" >
					<ui:repeat value="#{images}" var="image" >
						<p:graphicImage name="#{image.url}" style="max-width: 800px; max-height: 400px; margin: auto;" />
					</ui:repeat>
				</p:imageSwitch>

			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>

