<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">

	<ui:define name="site">
		<h:form id="formEdit">
			<h:panelGrid columns="1" style="padding-bottom: 20px; display: block;">
				<h:outputText value="Descrição da tarefa" styleClass="rotulo" ></h:outputText>
				<p:message id="msgDescricao" for="descricao"></p:message>
				<p:inputText id="descricao" size="60" required="true"
					value="#{bean.descricao}"
					requiredMessage="Informe a descricao da tarefa" />

			</h:panelGrid>

			<h:panelGrid columns="1">
				<h:outputText
					value="Informe qual o dia da semana e horário que deseja que esta tarefa seja executada." />
				<h:panelGrid columns="3">
					<h:panelGrid columns="1" style="padding: 10px; display: block;">
						<h:outputText value="Dia da semana: " styleClass="rotulo" style="padding: 2px;" />
						<p:selectOneMenu value="#{bean.diaSemana}">
							<f:selectItems value="#{diasSemana}" var="d"
								itemLabel="#{d.descricao}" itemValue="#{d}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1" style="padding: 10px; display: block;">
						<h:outputText value="Hora" style="padding: 2px" styleClass="rotulo" ></h:outputText>
						<p:spinner id="hora" value="#{bean.hora}" min="0" max="23"
							size="5" required="true" requiredMessage="Informe a hora" />
					</h:panelGrid>
					<h:panelGrid columns="1" style="padding: 10px; display: block;">
						<h:outputText value="min" style="padding: 2px" styleClass="rotulo" />
						<p:spinner id="minuto" value="#{bean.minuto}" min="0" max="59"
							size="5" required="true" requiredMessage="Informe o minuto" />
					</h:panelGrid>
				</h:panelGrid>
			</h:panelGrid>
				<p:message for="hora"></p:message>
			<p:message for="minuto"></p:message>

			<h:panelGrid columns="2">
				<p:commandButton value="Cancelar" styleClass="btn btn-warning"
					action="cancelar" onclick="deEdit.hide();" immediate="true" />
				<p:commandButton styleClass="btn btn-primary" value="Próximo"
					action="proximo" update="@form" />
			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>

