<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags"
	template="/WEB-INF/template/siteTemplate.xhtml">

	<ui:define name="site">
		<h:form id="form" enctype="multipart/form-data" prependId="false">
			<p:messages autoUpdate="true" showSummary="true" showDetail="true">
				<p:effect type="clip" event="load">
					<f:param name="mode" value="'show'" />
				</p:effect>
				<p:effect type="clip" event="load" delay="5000" >
					<f:param name="mode" value="'hide'" />
				</p:effect>
			</p:messages>

			<p:commandButton styleClass="btn btn-primary" value="Novo"
				style="width: 100px;" action="novo" oncomplete="dgEdit.show()"
				update=":formEdit"></p:commandButton>

			<p:dataTable styleClass="table"
				emptyMessage="Nenhuma tarefa encontrada" value="#{tarefas}"
				var="tar" rowStyleClass="#{tar.ativa ? 'blue' : 'red'}">
				<f:facet name="header">Lista de tarefas</f:facet>
				<p:column headerText="Descrição">#{tar.descricao}</p:column>
				<p:column headerText="Momento de Execuçao">#{tar.momentoExecucao}</p:column>
				<p:column>
					<p:commandButton value="#{tar.ativa ? 'Desatvar' : 'Ativar'}" icon="#{tar.ativa ? 'ui-icon-stop' : 'ui-icon-play'}"
						update=":formConfirma" oncomplete="dgConfirma.show()"
						action="selecionar" style="width: 100px;" />
					<p:commandButton value="Histórico" icon="ui-icon-calendar" action="historico" />	
					<p:commandButton value="Editar" icon="ui-icon-pencil" action="editar" oncomplete="dgEdit.show();" update=":formEdit" />
					<p:commandButton value="Excluir" icon="ui-icon-close" action="selecionar" oncomplete="dgDelete.show();" update=":formDelete" />
					
				</p:column>
			</p:dataTable>

		</h:form>

		<p:dialog widgetVar="dgEdit" modal="true" header="Criar/Editar Tarefa"
			closable="false" appendToBody="true" width="600">
			<h:form id="formEdit" enctype="multipart/form-data">
			</h:form>
		</p:dialog>

		<p:dialog widgetVar="dgDelete" modal="true" header="Exclusão de tarefa"
			closable="false" >
			<h:form id="formDelete" >
				<h:outputText value="Deseja excluir a tarefa #{tarefaSelecionada.descricao}?" />
				<h:panelGrid columns="2" >
					<p:commandButton value="Sim" action="delete" update=":form" oncomplete="dgDelete.hide();" />
					<p:commandButton value="Não" immediate="true" onclick="dgDelete.hide();" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		<p:dialog id="dgConfimacao" widgetVar="dgConfirma" modal="true"
			header="Alteração do Status da Tarefa">
			<h:form id="formConfirma">
				<h:outputText
					value="Deseja #{tarefaSelecionada.ativa ? 'DESATIVAR' : 'ATIVAR'} a tarefa #{tarefaSelecionada.descricao}?" />

				<h:panelGrid columns="2">
					<p:commandButton value="Sim" action="change-status-tarefa"
						update=":form" oncomplete="dgConfirma.hide()" />
					<p:commandButton value="Não" immediate="true"
						onclick="dgConfirma.hide()" />
				</h:panelGrid>
			</h:form>
		</p:dialog>

		

	</ui:define>
</ui:composition>

